<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.BoardMapper">

<resultMap type="com.care.root.board.dto.BoardDTO" id="board">
	<id property="writeNo" column="Write_no" /> <!-- pk는 id로 적어준다. 나머지는 result -->
	<result property="title" column="Title" />
	<result property="content" column="Content" />
	<result property="saveDate" column="Savedate"/>
	<result property="hit" column="Hit"/>
	<result property="imageFileName" column="Image_file_name"/>
	<result property="id" column="Id"/>
</resultMap>

<resultMap type="com.care.root.board.dto.BoardRepDTO" id="reply">
	<result property="id" column="id"/>
	<result property="title" column="title"/>
	<result property="content" column="content" />
	<result property="write_group" column="write_group"/>
	<result property="write_group" column="write_group"/>
	<result property="write_date" column="write_date"/>
</resultMap>
<!-- 
	<select id="getBoardList" resultMap="board">
		SELECT * FROM mvc_board 
	</select>
	 -->
	 
	<select id="getBoardList" resultMap="board" >
		select B.* from(select rownum rn, A.* from
		(select * from mvc_board order by write_no desc)A)B 
		where rn between #{s} and #{e}
	</select>

	<insert id="writeSave" >
	    insert into mvc_board(write_no,id,title,content,image_file_name)
	    values(mvc_board_seq.nextval,#{id},#{title},#{content},#{imageFileName})
	</insert>
	
	<select id="getContent" resultMap="board">
		SELECT * FROM mvc_board WHERE write_no = #{writeNo}
	</select>
	
	<update id="upHit">
		UPDATE mvc_board SET hit=hit+1 WHERE write_no = #{writeNo}
	</update>
	
	<update id="modify">
		UPDATE mvc_board SET title=#{title}, content=#{content}, image_file_name=#{imageFileName} WHERE write_no = #{writeNo}
	</update>
	
	<delete id="delete">
		DELETE FROM mvc_board WHERE write_no=#{writeNo}
	</delete>
	
	<insert id="addReply">
		INSERT INTO reply(id, title, content, write_group)
		VALUES(#{id},#{title},#{content},#{write_group})
	</insert>
	
	<select id="getRepList" resultMap="reply">
		SELECT * FROM reply WHERE write_group = #{write_group}
		ORDER BY write_date DESC;
	</select>
	
	<select id="selectBoardCount" resultType="Integer">
		SELECT COUNT(*) FROM mvc_board
	</select>
</mapper>