<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.board.BoardMapper">

<resultMap type="com.care.root.board.dto.BoardDTO" id="board">
	<id property="writeNo" column="Write_no" /> <!-- pk는 id로 적어준다. 나머지는 result -->
	<result property="title" column="Title" />
	<result property="content" column="Content" />
	<result property="saveDate" column="Savedate"/>
	<result property="hit" column="Hit"/>
	<result property="imageFileName" column="Image_file_name"/>
	<result property="id" column="Id"/>
</resultMap>

	<select id="getBoardList" resultMap="board">
		SELECT * FROM mvc_board 
	</select>
</mapper>